@{
    ViewBag.Title = "Parking Lot";
}
<div class="banner">
    <div class="banner-image">
    </div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                    <h1 class="text-center">Give you <span>Convenience</span></h1>
                    <p class="lead text-center">You can reserve and check real-time status of garage.</p>
                </div>
            </div>
        </div>
    </div>
</div>